.header {
  background-color: $colour-button-main;
  font-family: $font-family;
}

.header__wrapper {
  margin: 0 auto;
  width: 320px;
  min-height: 100px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 82px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 126px;
  }
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header__burger-menu {
  position: absolute;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 28px;
    left: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 26px;
  background-image: url("../../img/burger.svg");
}

.header__logo-container {
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 20px 45px;
    flex-direction: row;
    justify-content: end;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 32px 120px;
    justify-content: space-between;
  }
}

.header__logo-image {
  margin-left: auto;
  width: 142px;
  height: 42px;

  @media (min-width: $tablet-width) {
    margin: 0 42px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin: 10px 31px 10px 32px;
  }
}

.header__logo-image svg {
  width: 142px;
  height: 42px;
}

.header-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
  }
}

.header__logo-phone {
  margin-left: auto;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin-left: 86px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.header__logo-phone a {
  text-decoration: none;
  color: $colour-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    font-weight: 400;
  }
}
