$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$font-family: "Montserrat", sans-serif;

$colour-text-black: #2d383f;
$colour-text-white: #ffffff;
$colour-button-main: #0266c1;
$colour-botton-text: #2d383f;
$colour-background: #ffffff;
$colour-icon-main: #2d383f;
$colour-icon-other: #0266c1;
$colour-icon-white: #ffffff;
$colour-overlay-slider: #0f1429;
$colour-overlay-cards: #000000;
$colour-overlay-burger: #2d383f;
